{% extends "web_admin/header_footer.html" %}

{% block content %}



{% load static %}


        <!-- Start Contact Form Design Seven Area -->
        <section class="ea-contact-form-area style-seven pb-100 pt-100" style="margin-bottom: 10px;">
    {% if messages %}
        <div style="margin-bottom: 1rem;">
            {% for message in messages %}
                <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-success{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
            <div class="container">
                

                <div class="ea-contact-bg">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="ea-img-two">
                                <img src="../static/assets/img/register.jpg" alt="Image">
                            </div>
                        </div>
    
                        <div class="col-lg-6">
                            <form class="ea-contact-form style-seven" method="post">
                                {% csrf_token %}
                                <h3>Department Registration Form</h3>
    
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="dep" id="dep" class="form-control" placeholder="Department Name" required>
                                        </div>
                                    </div>
            
                                    <div class="col-lg-12 col-md-12">
                                        <button type="submit" class="submit-btn">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Form Design Seven Area -->

        


{% endblock %}