{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/boxicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/progressbar.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/calendar.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

        <title>KVVS College</title>

        
        
    </head>
    <body>

        <!-- Start Navbar Area -->
        <div class="ea-navbar-area bg-white" style="padding-bottom:0%;">
            <div class="ea-responsive-nav">
                <div class="container">
                    <div class="ea-responsive-menu">
                        <div class="logo">
                            <a href="{% url 'log_out_function' %}"><img src="{% static 'assets/img/logo.png' %}" alt="logo"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ea-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="{% url 'log_out_function' %}"><img src="{% static 'assets/img/logo.png' %}" alt="logo"></a>

                        <div class="collapse navbar-collapse mean-menu">
                            <ul class="navbar-nav">

                                <li class="nav-item"><a href="{% url 'guardian_home' %}" class="nav-link">Home</a></li>
                                
                            </ul>
                            <div class="others-option d-flex align-items-center">
                                <div class="option-item">
                                    <a href="{% url 'log_out_function' %}" class="default-btn">Login Out</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="option-inner">
                            <div class="others-option d-flex align-items-center">
                                <div class="option-item">
                                    <a href="{% url 'log_out_function' %}" class="default-btn">Login Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Navbar Area -->
         <!-- End header -->

        {% block content %}

        {% endblock %}


        <!-- start footer -->
         <!-- Start Footer Area -->
        <footer class="bg-light text-center p-3 mt-auto">
            <div class="container">
                <p class="mb-0">&copy; 2025 K.V.V.S College of Science & Technology. All rights reserved.</p>
            </div>
        </footer>
        <!-- End Footer Area -->

        <!-- Links of JS files -->
         <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/magnific-popup.min.js' %}"></script>
        <script src="{% static 'assets/js/meanmenu.min.js' %}"></script>
        <script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/progressbar.min.js' %}"></script>
        <script src="{% static 'assets/js/appear.min.js' %}"></script>
        <script src="{% static 'assets/js/odometer.min.js' %}"></script>
        <script src="{% static 'assets/js/apexcharts.js' %}"></script>
        <script src="{% static 'assets/js/calendar.js' %}"></script>
        <script src="{% static 'assets/js/aos.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        
        {% block extra_js %}{% endblock %}
    </body>
</html>